# Statements Assessment Test
Let's test your knowledge!

_____
**Use <code>for</code>, .split(), and <code>if</code> to create a Statement that will print out words that start with 's':**

In [1]:
st = 'Print only the words that start with s in this sentence'

In [2]:
st.split()

['Print',
 'only',
 'the',
 'words',
 'that',
 'start',
 'with',
 's',
 'in',
 'this',
 'sentence']

In [10]:
for word in st.split():
  if word[0].lower() == "s":
    print(word)

start
s
sentence

In [11]:
for word in st.split():
  if word[0] == "s" or word[0] == "S":
    print(word)

start
s
sentence

______
**Use range() to print all the even numbers from 0 to 10.**

In [19]:
for x in range(0,11):
  if x%2 == 0:
    print(x)

0
2
4
6
8
10

In [20]:
for x in range(0,11,2):
  print(x)

0
2
4
6
8
10

___
**Use a List Comprehension to create a list of all numbers between 1 and 50 that are divisible by 3.**

In [26]:
[x for x in range(0,50) if x%3 == 0]

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [24]:
for x in range(0,50,3):
  print(x)

0
3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48

_____
**Go through the string below and if the length of a word is even print "even!"**

In [ ]:
st = 'Print every word in this sentence that has an even number of letters'

In [28]:
for x in st.split():
  if len(x)%2 == 0:
    print(x)

only
that
with
in
this
sentence

____
**Write a program that prints the integers from 1 to 100. But for multiples of three print "Fizz" instead of the number, and for the multiples of five print "Buzz". For numbers which are multiples of both three and five print "FizzBuzz".**

In [36]:
for i in range(1,101):
  if i%3 == 0 and i%5 == 0:
    print("FizzBuzz")
  elif i%3 == 0:
    print("Fizz")
  elif i%5 == 5:
    print("Buzz")
  else:
    print(i)

1
2
Fizz
4
5
Fizz
7
8
Fizz
10
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
20
Fizz
22
23
Fizz
25
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
35
Fizz
37
38
Fizz
40
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
50
Fizz
52
53
Fizz
55
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
65
Fizz
67
68
Fizz
70
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
80
Fizz
82
83
Fizz
85
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
95
Fizz
97
98
Fizz
100

____
**Use List Comprehension to create a list of the first letters of every word in the string below:**

In [38]:
st = 'Create a list of the first letters of every word in this string'

In [41]:
[i[0] for i in st.split()]

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']

In [39]:
for x in st.split():
  print(x[0])

C
a
l
o
t
f
l
o
e
w
i
t
s

### Great Job!